In [ ]:
df_1 = _deepnote_execute_sql('SELECT * \nFROM \'billionaires.csv\';', 'SQL_DEEPNOTE_DATAFRAME_SQL', audit_sql_comment='', sql_cache_mode='cache_disabled')
df_1

,rank,finalWorth,category,personName,age,country,city,source,industries,selfMade,...,firstName,birthYear,birthMonth,birthDay,cpi_country,gdp_country,life_expectancy_country,tax_revenue_country_country,total_tax_rate_country,population_country
0,1,211000,Fashion & Retail,Bernard Arnault & family,74,France,Paris,LVMH,Fashion & Retail,False,...,Bernard,1949,3,5,110.05,"$2,715,518,274,227",82.5,24.2,60.7,67059887
1,2,180000,Automotive,Elon Musk,51,United States,Austin,"Tesla, SpaceX",Automotive,True,...,Elon,1971,6,28,117.24,"$21,427,700,000,000",78.5,9.6,36.6,328239523
2,3,114000,Technology,Jeff Bezos,59,United States,Medina,Amazon,Technology,True,...,Jeff,1964,1,12,117.24,"$21,427,700,000,000",78.5,9.6,36.6,328239523
3,4,107000,Technology,Larry Ellison,78,United States,Lanai,Oracle,Technology,True,...,Larry,1944,8,17,117.24,"$21,427,700,000,000",78.5,9.6,36.6,328239523
4,5,106000,Finance & Investments,Warren Buffett,92,United States,Omaha,Berkshire Hathaway,Finance & Investments,True,...,Warren,1930,8,30,117.24,"$21,427,700,000,000",78.5,9.6,36.6,328239523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,497,5300,Service,Gary Rollins,78,United States,Atlanta,Pest control,Service,False,...,Gary,1944,8,30,117.24,"$21,427,700,000,000",78.5,9.6,36.6,328239523
471,497,5300,Finance & Investments,Mark Walter,62,United States,Chicago,"Finance, asset management",Finance & Investments,True,...,Mark,1960,5,22,117.24,"$21,427,700,000,000",78.5,9.6,36.6,328239523
472,497,5300,Manufacturing,Ronald Wanek,81,United States,Saint Petersburg,Furniture,Manufacturing,True,...,Ronald,1941,5,19,117.24,"$21,427,700,000,000",78.5,9.6,36.6,328239523
473,497,5300,Food & Beverage,Erich Wesjohann & family,77,Germany,Visbek,Poultry genetics,Food & Beverage,True,...,Erich,1945,6,2,112.85,"$3,845,630,030,824",80.9,11.5,48.8,83132799
474,497,5300,Fashion & Retail,M.A. Yusuff Ali,67,United Arab Emirates,Abu Dhabi,Retail,Fashion & Retail,True,...,M.A.,1955,11,15,114.52,"$421,142,267,938",77.8,0.1,15.9,9770529

In [ ]:
df_2 = _deepnote_execute_sql('-- not select everything in csv file\nSELECT personname, finalWorth\nFROM \'billionaires.csv\';', 'SQL_DEEPNOTE_DATAFRAME_SQL', audit_sql_comment='', sql_cache_mode='cache_disabled')
df_2

                   personName  finalWorth
0    Bernard Arnault & family      211000
1                   Elon Musk      180000
2                  Jeff Bezos      114000
3               Larry Ellison      107000
4              Warren Buffett      106000
..                        ...         ...
470              Gary Rollins        5300
471               Mark Walter        5300
472              Ronald Wanek        5300
473  Erich Wesjohann & family        5300
474           M.A. Yusuff Ali        5300

[475 rows x 2 columns]

In [ ]:
df_3 = _deepnote_execute_sql('-- select the countries but appearing only once\nSELECT DISTINCT country\nFROM \'billionaires.csv\';', 'SQL_DEEPNOTE_DATAFRAME_SQL', audit_sql_comment='', sql_cache_mode='cache_disabled')
df_3

                 country
0                 France
1          United States
2                 Mexico
3                  India
4                  Spain
5                  China
6                 Canada
7                Germany
8            Switzerland
9                Belgium
10               Austria
11                 Japan
12        United Kingdom
13             Australia
14             Indonesia
15  United Arab Emirates
16                Russia
17                 Chile
18        Czech Republic
19                Sweden
20              Thailand
21             Singapore
22               Nigeria
23                Israel
24                 Italy
25          South Africa
26                Brazil
27              Malaysia
28           South Korea
29           New Zealand
30           Philippines
31                Norway
32                 Egypt
33               Denmark
34              Colombia
35           Netherlands
36                Poland
37               Ukraine
38                Turkey

In [ ]:
df_4 = _deepnote_execute_sql('-- aggregate only distinct countries\nSELECT COUNT(DISTINCT country), COUNT(DISTINCT personname)\nFROM \'billionaires.csv\';', 'SQL_DEEPNOTE_DATAFRAME_SQL', audit_sql_comment='', sql_cache_mode='cache_disabled')
df_4

   count(DISTINCT country)  count(DISTINCT personname)
0                       39                         475

In [ ]:
df_5 = _deepnote_execute_sql('-- average net worth\nSELECT AVG(finalWorth)\nFROM \'billionaires.csv\';', 'SQL_DEEPNOTE_DATAFRAME_SQL', audit_sql_comment='', sql_cache_mode='cache_disabled')
df_5

   avg(finalWorth)
0     14821.894737

In [ ]:
df_6 = _deepnote_execute_sql('-- Filtering with WHERE Clause || One condition \nSELECT * FROM \'billionaires.csv\'\nWHERE country = \'France\'; -- case sensitive', 'SQL_DEEPNOTE_DATAFRAME_SQL', audit_sql_comment='', sql_cache_mode='cache_disabled')
df_6

,rank,finalWorth,category,personName,age,country,city,source,industries,selfMade,...,firstName,birthYear,birthMonth,birthDay,cpi_country,gdp_country,life_expectancy_country,tax_revenue_country_country,total_tax_rate_country,population_country
0,1,211000,Fashion & Retail,Bernard Arnault & family,74,France,Paris,LVMH,Fashion & Retail,False,...,Bernard,1949,3,5,110.05,"$2,715,518,274,227",82.5,24.2,60.7,67059887
1,11,80500,Fashion & Retail,Francoise Bettencourt Meyers & family,69,France,Paris,L'Oréal,Fashion & Retail,False,...,Francoise,1953,7,10,110.05,"$2,715,518,274,227",82.5,24.2,60.7,67059887
2,28,40100,Fashion & Retail,François Pinault & family,86,France,Paris,Luxury goods,Fashion & Retail,True,...,François,1936,8,21,110.05,"$2,715,518,274,227",82.5,24.2,60.7,67059887
3,71,22000,Food & Beverage,Emmanuel Besnier,52,France,Laval,Cheese,Food & Beverage,False,...,Emmanuel,1970,9,18,110.05,"$2,715,518,274,227",82.5,24.2,60.7,67059887
4,184,9800,Logistics,"Jacques Saadé, Jr.",51,France,Marseille,Shipping,Logistics,False,...,Jacques,1971,8,10,110.05,"$2,715,518,274,227",82.5,24.2,60.7,67059887
5,184,9800,Logistics,Rodolphe Saadé,53,France,Marseille,Shipping,Logistics,False,...,Rodolphe,1970,3,3,110.05,"$2,715,518,274,227",82.5,24.2,60.7,67059887
6,184,9800,Logistics,Tanya Saadé Zeenny,55,France,Marseille,Shipping,Logistics,False,...,Tanya,1968,2,1,110.05,"$2,715,518,274,227",82.5,24.2,60.7,67059887
7,202,9500,Finance & Investments,Vincent Bolloré & family,71,France,Paris,Investments,Finance & Investments,False,...,Vincent,1952,4,1,110.05,"$2,715,518,274,227",82.5,24.2,60.7,67059887
8,256,8100,Diversified,Laurent Dassault,69,France,Paris,Diversified,Diversified,False,...,Laurent,1953,7,7,110.05,"$2,715,518,274,227",82.5,24.2,60.7,67059887
9,256,8100,Diversified,Thierry Dassault,66,France,Paris,Diversified,Diversified,False,...,Thierry,1957,3,26,110.05,"$2,715,518,274,227",82.5,24.2,60.7,67059887
10,256,8100,Diversified,Marie-Hélène Habert-Dassault,58,France,Paris,Diversified,Diversified,False,...,Marie-Hélène,1965,4,4,110.05,"$2,715,518,274,227",82.5,24.2,60.7,67059887
11,282,7700,Food & Beverage,Jean-Michel Besnier,55,France,Laval,Cheese,Food & Beverage,False,...,Jean-Michel,1967,6,5,110.05,"$2,715,518,274,227",82.5,24.2,60.7,67059887
12,282,7700,Food & Beverage,Marie Besnier Beauvalot,42,France,Laval,Cheese,Food & Beverage,False,...,Marie,1980,7,30,110.05,"$2,715,518,274,227",82.5,24.2,60.7,67059887
13,365,6700,Telecom,Xavier Niel,55,France,Paris,"Internet, telecom",Telecom,True,...,Xavier,1967,8,25,110.05,"$2,715,518,274,227",82.5,24.2,60.7,67059887
14,397,6400,Energy,Alexei Kuzmichev,60,France,Paris,"Oil, banking, telecom",Energy,True,...,Alexei,1962,10,15,110.05,"$2,715,518,274,227",82.5,24.2,60.7,67059887
15,405,6300,Healthcare,Alain Merieux & family,85,France,Lyon,Pharmaceuticals,Healthcare,False,...,Alain,1938,1,1,110.05,"$2,715,518,274,227",82.5,24.2,60.7,67059887

In [ ]:
df_7 = _deepnote_execute_sql('-- Filtering with WHERE Clause || Multiple conditions | comment the other lines of this block when running this portion\n--SELECT * FROM \'billionaires.csv\'\n--WHERE country = \'France\' AND city <> \'Paris\'; \n\n--another example | comment the other lines of this block when running this portion \n--SELECT * FROM \'billionaires.csv\'\n--WHERE country = \'France\' OR country = \'Spain\'; \n\n-- IN for multiple conditions\nSELECT * FROM \'billionaires.csv\'\nWHERE country IN (\'France\', \'Spain\', \'Italy\')', 'SQL_DEEPNOTE_DATAFRAME_SQL', audit_sql_comment='', sql_cache_mode='cache_disabled')
df_7

,rank,finalWorth,category,personName,age,country,city,source,industries,selfMade,...,firstName,birthYear,birthMonth,birthDay,cpi_country,gdp_country,life_expectancy_country,tax_revenue_country_country,total_tax_rate_country,population_country
0,1,211000,Fashion & Retail,Bernard Arnault & family,74,France,Paris,LVMH,Fashion & Retail,False,...,Bernard,1949,3,5,110.05,"$2,715,518,274,227",82.5,24.2,60.7,67059887
1,11,80500,Fashion & Retail,Francoise Bettencourt Meyers & family,69,France,Paris,L'Oréal,Fashion & Retail,False,...,Francoise,1953,7,10,110.05,"$2,715,518,274,227",82.5,24.2,60.7,67059887
2,28,40100,Fashion & Retail,François Pinault & family,86,France,Paris,Luxury goods,Fashion & Retail,True,...,François,1936,8,21,110.05,"$2,715,518,274,227",82.5,24.2,60.7,67059887
3,71,22000,Food & Beverage,Emmanuel Besnier,52,France,Laval,Cheese,Food & Beverage,False,...,Emmanuel,1970,9,18,110.05,"$2,715,518,274,227",82.5,24.2,60.7,67059887
4,184,9800,Logistics,"Jacques Saadé, Jr.",51,France,Marseille,Shipping,Logistics,False,...,Jacques,1971,8,10,110.05,"$2,715,518,274,227",82.5,24.2,60.7,67059887
5,184,9800,Logistics,Rodolphe Saadé,53,France,Marseille,Shipping,Logistics,False,...,Rodolphe,1970,3,3,110.05,"$2,715,518,274,227",82.5,24.2,60.7,67059887
6,184,9800,Logistics,Tanya Saadé Zeenny,55,France,Marseille,Shipping,Logistics,False,...,Tanya,1968,2,1,110.05,"$2,715,518,274,227",82.5,24.2,60.7,67059887
7,202,9500,Finance & Investments,Vincent Bolloré & family,71,France,Paris,Investments,Finance & Investments,False,...,Vincent,1952,4,1,110.05,"$2,715,518,274,227",82.5,24.2,60.7,67059887
8,256,8100,Diversified,Laurent Dassault,69,France,Paris,Diversified,Diversified,False,...,Laurent,1953,7,7,110.05,"$2,715,518,274,227",82.5,24.2,60.7,67059887
9,256,8100,Diversified,Thierry Dassault,66,France,Paris,Diversified,Diversified,False,...,Thierry,1957,3,26,110.05,"$2,715,518,274,227",82.5,24.2,60.7,67059887
10,256,8100,Diversified,Marie-Hélène Habert-Dassault,58,France,Paris,Diversified,Diversified,False,...,Marie-Hélène,1965,4,4,110.05,"$2,715,518,274,227",82.5,24.2,60.7,67059887
11,282,7700,Food & Beverage,Jean-Michel Besnier,55,France,Laval,Cheese,Food & Beverage,False,...,Jean-Michel,1967,6,5,110.05,"$2,715,518,274,227",82.5,24.2,60.7,67059887
12,282,7700,Food & Beverage,Marie Besnier Beauvalot,42,France,Laval,Cheese,Food & Beverage,False,...,Marie,1980,7,30,110.05,"$2,715,518,274,227",82.5,24.2,60.7,67059887
13,365,6700,Telecom,Xavier Niel,55,France,Paris,"Internet, telecom",Telecom,True,...,Xavier,1967,8,25,110.05,"$2,715,518,274,227",82.5,24.2,60.7,67059887
14,397,6400,Energy,Alexei Kuzmichev,60,France,Paris,"Oil, banking, telecom",Energy,True,...,Alexei,1962,10,15,110.05,"$2,715,518,274,227",82.5,24.2,60.7,67059887
15,405,6300,Healthcare,Alain Merieux & family,85,France,Lyon,Pharmaceuticals,Healthcare,False,...,Alain,1938,1,1,110.05,"$2,715,518,274,227",82.5,24.2,60.7,67059887
16,13,77300,Fashion & Retail,Amancio Ortega,87,Spain,La Coruna,Zara,Fashion & Retail,True,...,Amancio,1936,3,28,110.96,"$1,394,116,310,769",83.3,14.2,47.0,47076781
17,344,6900,Fashion & Retail,Sandra Ortega Mera,54,Spain,La Coruna,Zara,Fashion & Retail,False,...,Sandra,1968,7,9,110.96,"$1,394,116,310,769",83.3,14.2,47.0,47076781
18,157,11100,Fashion & Retail,Giorgio Armani,88,Italy,Milan,Luxury goods,Fashion & Retail,True,...,Giorgio,1934,7,11,110.62,"$2,001,244,392,042",82.9,24.3,59.1,60297396
19,352,6800,Diversified,Silvio Berlusconi & family,86,Italy,Milan,Media,Diversified,True,...,Silvio,1936,9,29,110.62,"$2,001,244,392,042",82.9,24.3,59.1,60297396
20,365,6700,Healthcare,Massimiliana Landini Aleotti & family,80,Italy,Fiesole,Pharmaceuticals,Healthcare,False,...,Massimiliana,1943,1,1,110.62,"$2,001,244,392,042",82.9,24.3,59.1,60297396
21,466,5500,Automotive,Piero Ferrari,77,Italy,Modena,Automobiles,Automotive,False,...,Piero,1945,5,22,110.62,"$2,001,244,392,042",82.9,24.3,59.1,60297396
22,466,5500,Healthcare,Sergio Stevanato & family,80,Italy,Venice,Medical packaging,Healthcare,True,...,Sergio,1943,3,20,110.62,"$2,001,244,392,042",82.9,24.3,59.1,60297396
23,486,5400,Fashion & Retail,Patrizio Bertelli,77,Italy,Milan,Luxury goods,Fashion & Retail,True,...,Patrizio,1946,1,1,110.62,"$2,001,244,392,042",82.9,24.3,59.1,60297396
24,486,5400,Fashion & Retail,Miuccia Prada,73,Italy,Milan,Luxury goods,Fashion & Retail,False,...,Miuccia,1949,5,10,110.62,"$2,001,244,392,042",82.9,24.3,59.1,60297396

In [2]:
df_8 = _deepnote_execute_sql('-- combine the functions from above \nSELECT COUNT(personname) FROM \'billionaires.csv\'\nWHERE selfmade = \'true\'', 'SQL_DEEPNOTE_DATAFRAME_SQL', audit_sql_comment='', sql_cache_mode='cache_disabled')
df_8

   count(personname)
0                309

In [7]:
df_9 = _deepnote_execute_sql('-- groupby statement\nSELECT industries, COUNT(personname) AS billionaire_count --header name change\nFROM \'billionaires.csv\'\nGROUP BY industries\nORDER BY COUNT(personname) DESC --to be in descending or ascending order\n--to limit the number for display\nLIMIT 10;', 'SQL_DEEPNOTE_DATAFRAME_SQL', audit_sql_comment='', sql_cache_mode='cache_disabled')
df_9

              industries  billionaire_count
0  Finance & Investments                 77
1             Technology                 62
2       Fashion & Retail                 54
3          Manufacturing                 44
4        Food & Beverage                 43
5            Diversified                 31
6                 Energy                 28
7             Healthcare                 27
8            Real Estate                 24
9        Metals & Mining                 20

In [9]:
df_10 = _deepnote_execute_sql('--Use BY\nSELECT birthmonth, COUNT(personname) FROM \'billionaires.csv\'\nGROUP BY birthmonth\nORDER BY COUNT(personname) DESC;', 'SQL_DEEPNOTE_DATAFRAME_SQL', audit_sql_comment='', sql_cache_mode='cache_disabled')
df_10

    birthMonth  count(personname)
0            1                 84
1            9                 47
2            3                 46
3           10                 43
4            8                 41
5            6                 39
6            7                 35
7            4                 31
8            2                 29
9            5                 29
10          12                 26
11          11                 25

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=a0ac54b7-9fc5-4506-a840-d0d87dd16e03' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>